@model IEnumerable<BookItt.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Admin Books Editing</h2>


<p>
    <a type="button" class="btn btn-sm btn-success" href="@Url.Action("Create", "Books")">
        <span class="glyphicon glyphicon-pencil"></span>
        <span>Create New</span>
    </a>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.section.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.section.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
        </td>
    </tr>
}

</table>
